{{#if resume.skills.length}}
<div class="container skills-container">
    {{> title value="Skills"}}
    {{#each resume.skills}}
    <section class="item">
        {{#if name}}
        <h4 class="small-bold">{{ this.name }}</h3>
            {{/if}}
            {{#if level}}
            <h4 class="bold capitalize">{{level}}</h4>
            {{/if}}
            {{#if keywords.length}}
            <div class="minimal flex-container">
                {{#each keywords}}
                <h6 class="main-skill skill">{{.}}</h6>
                {{/each}}
            </div>
            {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}